.leaderboardWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

thead {
    font-weight: bold;
    font-size: 20px;
}

thead tr {
    background: black;
}

tr {
    height: 80px;
    width: 100%;
    background: #333333;
    margin: 0;
    padding: 40px;
}

td {
    padding: 15px;
    margin: 0;
}

.rankCell {
    text-align: center;
    font-weight: bold;
    font-size: 700;
    font-weight: 15px;
    width: 1px;
}

.eloCell {
    width: 100px;
}

.leaderboardTitle {
    text-align: center;
    margin-bottom: 50px;
}

.summaryCell p:hover {
    color: grey;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    table {
        width: 100%;
    }
    .authorCell {
        display: none;
    }
    .summaryCell {
        width: 200px;
    }
}