.navbar {
    background: black;
    height: 75px;
    display: flex;
    flex-direction: justify;
}

.navbar div {
    height: 75px;
    display: flex;
    align-items: center;
}

.navbarTitle {
    align-self: center;
    flex-grow: 1;
    padding-left: 25px;
}

.navbarTitle h1:hover {
    color: rgb(104, 104, 104);
    cursor: pointer;
}

.navbarNavigateBtn {
    width: 75px;
    justify-self: right;
    justify-content: center;
    align-self: flex-end;
    transition: transform 0.7s ease-in-out;
    transform: rotate(0deg);
}

.navbarNavigateBtn:hover {
    color: rgb(104, 104, 104);
    transform: rotate(360deg);
    transition: transform 0.7s ease-in-out;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .navbarTitle h1 {
        font-size: 20px;
    }
    .navbar div {
        height: 50px;
        display: flex;
    }
    .navbar {
        background: black;
        height: 50px;
        display: flex;
        flex-direction: justify;
    }
}